table{
    width: 100%;
    background-color: olive
    ;
}

th, td{
    padding: 3px;
    text-align: center;
}

.active{
    font-weight: bold;
    color: white;
}

.home{
    background-color: brown;
}

.list{
    background-color: olivedrab;
}

.recycle{
    background-color: mediumpurple;
}

.login{
    background-color: tan;
}