h1, h3{
    text-align: center;
}

.form-container{
    margin: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    
}

.form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid pink; */
    margin-bottom: 10px;

}

.form-label{
    margin-right: 5px;
    /* border: 1px solid blue; */
} 

/*
.form-input{
    border: 1px solid blue;
}
*/

.switchComponent{
    margin-bottom: 10px;
    margin-left: 20px;
}

table{
    margin: 20px auto;
    width: 80%;
    border: 2px solid black;
    border-collapse: collapse;
}

th, tr, td{
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    padding: 10px;
}

.form-container2{
    display: flex;
    margin: 20px auto;
    width: 80%;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
}

.form-input2{
    margin-right: 5px;
}

.form-button{
    margin-right: 5px;
}

.validationMessage{
    margin: 5px;
    color: red;
}

.form-label3{
    margin-left: 20px;
    margin-right: 5px;
    /* border: 1px solid blue; */

} 

/*
.form-input3{
    border: 1px solid blue;
}
*/

app-edit{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 999;
}

:host{
    position: fixed;
    background-color: olivedrab;
    width: 100%;
    height: 100vh;
}